@use "../mixins" as *;

[id] {
  scroll-margin-top: var(--header-height);
}

[target="_blank"] {
  cursor: alias;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.section {
  padding-block: var(--size-10xl);
}

main {
  position: relative;
  z-index: 1;
  background: var(--color-site-bg);

  .squish,
  .case-study figure {
    scale: var(--scroll-scale, 1);
    transform-origin: center;
    will-change: scale, transform, clip-path, filter;
  }
}

.image {
  opacity: 0;
  transition: opacity 600ms;

  &.is-loaded {
    opacity: 1;
  }
}

main,
.footer__wrapper {
  transition: filter 500ms, transform 1000ms;
}

body[class*="open"] {
  main,
  .footer__wrapper {
    filter: blur(2px) brightness(0.1);
    transform: scaleX(1.01);
  }

  .footer__wrapper {
    transform: scale(1.01);
  }

  .header {
    color: var(--color-white);
  }
}