@use "../mixins" as *;

[id] {
  scroll-margin-top: var(--header-height);
}

[target="_blank"] {
  cursor: alias;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.section {
  padding-block: var(--size-10xl);
}

main {
  .squish,
  .case-study figure {
    scale: var(--scroll-scale, 1);
    transform-origin: center;
    will-change: scale, transform, clip-path, filter;
  }
}

.image {
  opacity: 0;
  transition: opacity 600ms;

  &.is-loaded {
    opacity: 1;
  }
}