.footer {
  position: relative;
  min-height: 100lvh;
  view-timeline-name: --footer;

  &__wrapper {
    position: fixed;
    inset: 0;
  }

  &__wrapper,
  .wrapper {
    background-color: var(--color-surface-dark);
    height: 100lvh;
  }

  .wrapper {
    animation: footer-parallax linear both;
    animation-timeline: --footer;
    animation-range: entry 0% entry 50%;
  }
}

.footer--light .wrapper,
.footer--light .footer__wrapper {
  background-color: light-dark(var(--color-surface-light), var(--color-midnight));
  color: var(--color-text-dark);
}

:root[data-theme=dark] {
  .footer--light {
    background-color: var(--color-midnight);
  }
}

@keyframes footer-parallax {
  from {
    filter: blur(1px) brightness(0.5);
    transform: scale(1.01);
  }

  to {
    filter: blur(0px) brightness(1);
    transform: scale(1);
  }
}