.footer--light {
  background-color: var(--color-surface-light);
  color: var(--color-text-dark);
}

:root[data-theme=dark] {
  .footer--light {
    background-color: var(--color-midnight);
  }
}