@use "../mixins" as *;

.header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;

  height: var(--header-height);
  color: var(--color-text-dark);

  a {
    transition: color 300ms, opacity 400ms, background-size 0.3s;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 10;
    height: 100%;

    font-variation-settings: 'wght' 500;

    @include mq(md) {
      li:last-child {
        display: flex;
        justify-content: flex-end;
        text-align: right;
      }
    }
  }
}

.header {
  &--white {
    color: var(--color-white);

    [aria-current="page"] {
      color: var(--color-site-text);
    }
  }

  &--midnight {
    color: var(--color-site-text);

    [aria-current="page"] {
      color: var(--color-white);
    }
  }

  &--light {
    color: var(--color-text-light);

    [aria-current="page"] {
      color: var(--color-white);
    }
  }

  &--dark {
    color: var(--color-text-dark);

    [aria-current="page"] {
      color: var(--color-white);
    }
  }
}