@use "../mixins" as *;

.home {
  img {
    height: 100%;
    max-height: fit-content;
    aspect-ratio: 460 / 763;
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }
  }
}
