@use "../mixins" as *;

@include mq(md, max) {
  .menu {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;

    padding: calc(var(--header-height) + var(--size-9xl)) var(--grid-margin) calc(var(--size-9xl) + env(safe-area-inset-bottom));
    background-color: light-dark(var(--color-heavymetal), var(--color-midnight));
    color: var(--color-sage);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    clip-path: inset(0 0 100%);
    transition: clip-path 600ms;
    will-change: clip-path;
    -webkit-backface-visibility: hidden;

    &__nav {
      li {
        overflow: hidden;
        font-size: 13vw;
      }

      a {
        display: block;
        transform: translateY(-150%);
        transform-origin: center left;
        transition-property: transform;
        transition-duration: 0ms;
        transition-delay: 350ms;

        sup {
          font-size: 0.4em;
          top: -1.2em;
        }
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      gap: var(--size-ml);
      justify-content: space-between;

      margin-top: var(--size-10xl);

      color: var(--color-white);

      opacity: 0;
      transform: translateY(2em);
      transition-property: transform, opacity;
      transition-duration: 0ms;
      transition-delay: 350ms;
    }

    .theme-toggle {
      &::before,
      &::after {
        width: 44px;
      }

      &::before {
        margin-right: -7px;
      }
    }
  }

  /*animations*/
  .menu-open .menu {
    clip-path: inset(0 0 0 0);
    transition: clip-path 800ms;

    &__nav {
      a {
        transform: translateY(0%);
        transition-delay: calc(300ms + 200ms * var(--index));
        transition-duration: 1000ms;
      }
    }

    &__footer {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 500ms;
      transition-duration: 1200ms;
    }
  }
}

@include mq(md) {
  .menu {
    display: none;
  }
}
