.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100svh - var(--footer-spacing) - var(--footer-spacing) - var(--footer-height));

  padding-block: var(--size-6xl);
  margin-top: var(--footer-spacing);

  a {
    padding-block: var(--size-lg);
  }
}
