{# Preload Font #}
<link rel="preload" href="{{ "/assets/fonts/dm-sans-variable.woff2" | url }}" as="font" type="font/woff2" crossorigin />

{# Preload Current Page Image #}
{% if preload -%}
  {%- img preload, "", "", "eager", "preload" -%}
{%- endif -%}