{% set footer_headertheme = "light" %}

{% if footertheme == "light" %}
  {% set footer_headertheme = "dark" %}
{% endif %}

<footer class="hero squish footer footer--{{footertheme}} color-text-light" data-header-theme="{{footer_headertheme}}">
  <div class="footer__wrapper">
    <div class="wrapper flex flex-col justify-end">
      <div class="columns md:columns-5 items-end pt-10xl pb-2xl">
        <div>
          {% svg "bb.svg" %}
        </div>

        <div class="md:ml-1 order-first md:order-last mb-10xl md:mb-zero">
          <a href="mailto:hello@codrinpavel.com" class="link link--dot type-medium color-white" data-reveal target="_blank" rel="noopener noreferrer">hello@codrinpavel.com</a>
          <h1 class="word-split type-large mt-4xl " data-reveal-batch>Let's team up and<br> build something better.</h1>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="cursor" aria-hidden="true">
  <div class="cursor__title"></div>
  <div class="cursor__images"></div>
</div>