.quote {
  text-align: center;
  background-color: var(--color-surface-light);
  color: var(--color-text-dark);

  padding: 8%;
  border-radius: var(--radius-ml);

  figcaption {
    margin-top: 6%;
    font-variation-settings: var(--font-weight-medium);
    color: var(--color-white);
  }

  p {
    max-width: 28em;
    margin: auto;
  }
}
