[data-reveal] {
  --move-up: 1em;
  --move-up-speed: 700ms;

  opacity: 0;
  transform: translateY(var(--move-up));

  animation: 
    fade-in 1000ms ease var(--transition-delay, 25ms) both,
    move-up var(--move-up-speed) ease var(--transition-delay, 25ms) both;
  animation-play-state: paused;
}

[data-reveal="words"] {
  --move-up: 1.1em;
  --move-up-speed: 700ms;

  opacity: 1;

  animation: 
    move-up var(--move-up-speed) ease var(--transition-delay, 25ms) both;
  animation-play-state: paused;
}

[data-reveal="image"] {
  --move-up: 20vh;
  --move-up-speed: 1000ms;

  will-change: opacity, transform;
}

[data-reveal="fade-in"] {
  --move-up: 0px;

  animation: 
    fade-in 400ms ease var(--transition-delay, 25ms) both;
  animation-play-state: paused;

  will-change: opacity;
}

.is-inview {
  animation-play-state: running;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes move-up {
  from {transform: translateY(var(--move-up))}
  to {transform: translateY(0)}
}

@media (prefers-reduced-motion: reduce) {
  [data-reveal] {
    --move-up: 0px;
    opacity: 1;
    animation: none !important;
  }
}