@use "../mixins" as *;

.scroll-reveal {
  overflow: clip;

  animation:
    clip-x ease both,
    darken linear both;

  animation-timeline: view();

  animation-range:
    entry 0% entry 100%,
    exit 0% exit 100%;

  video,
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    clip-path: none;
    filter: none;
  }

  @include mq(md, max) {
    animation: darken linear both;
    animation-timeline: view();
    animation-range: exit 0% exit 100%;
  }
}


@keyframes clip-x {
  from {
    clip-path: inset(0 5% round 16px)
  }

  to {
    clip-path: inset(0 round 16px)
  }
}

@keyframes darken {
  from {
    filter: brightness(1)
  }

  to {
    filter: brightness(0.2)
  }
}