:root {
  interpolate-size: allow-keywords;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
.lenis {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

html::selection {
  background: var(--color-heavymetal);
  color: var(--color-sage);
  text-shadow: none;
}

.bg-surface-dark::selection {
  background: var(--color-sage);
  color: var(--color-heavymetal);
}

html {
  color: var(--color-site-text);
  background: var(--color-site-bg);
  cursor: default;
  overflow-x: clip;
}

:where(a, button, summary) {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
}

:where([class*="aspect-"]) {
  object-fit: cover;
}

:where([class*="border-"]) {
  border: 0 solid currentColor;
}

:where([class*="translate"]) {
  --translate-x: 0;
  --translate-y: 0;
  --rotate: 0;
  --skew-x: 0;
  --skew-y: 0;
  --scale-x: 1;
  --scale-y: 1;

  transform: translate(var(--translate-x), var(--translate-y)) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

[hidden] {
  display: none !important;
}

.underscore {
  text-decoration: underline;
}
