body,
.type-regular {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sm);
  font-variation-settings: var(--font-weight-normal);
  line-height: 1.4;
  font-style: normal;
  letter-spacing: -.02em;

  font-variant-numeric: tabular-nums;
  text-wrap: pretty;

  color: inherit;
}

.type-eyebrow,
.type-anchor {
  font-size: var(--font-size-xs);
  line-height: 1.2;
  font-variation-settings: var(--font-weight-bold);
  letter-spacing: 0.02em;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: var(--size-ml);
}

.type-small {
  font-size: var(--font-size-xs);
  font-variation-settings: var(--font-weight-semibold);
  line-height: 1.4;
}

.type-medium {
  font-size: var(--font-size-lg);
  font-variation-settings: var(--font-weight-normal);
  line-height: 1.2;
  letter-spacing: -.02em;

  sup {
    font-size: 66%;
  }
}

.type-large {
  font-size: var(--font-size-3xl);
  font-variation-settings: var(--font-weight-normal);
  line-height: 1.15;
  letter-spacing: -.02em;

  sup {
    font-size: 40%;
    top: -1.2em;
    font-variation-settings: var(--font-weight-semibold);
  }
}

.type-larger {
  font-size: var(--font-size-4xl);
  font-variation-settings: var(--font-weight-normal);
  line-height: 1.15;
  letter-spacing: -.02em;
}

.type-xlarge {
  font-size: var(--font-size-6xl);
  font-style: normal;
  line-height: 1.15;
  font-variation-settings: var(--font-weight-bold);
}

.type-huge {
  font-size: var(--font-size-7xl);
  font-style: normal;
  line-height: 1.15;
  font-variation-settings: var(--font-weight-medium);
}
