<header class="hero bg-surface-light color-text-dark" data-header-theme="dark">
  <div class="wrapper min-h-100svh flex flex-col justify-end">
    <div class="columns md:columns-5 items-end pt-10xl pb-2xl">
      <div>
        {% svg "bb.svg" %}
      </div>

      <div class="md:ml-1 order-first md:order-last mb-10xl md:mb-zero">
        <h1 class="type-medium" data-reveal-batch>Development partner to agencies for over 17 years, building award-winning corporate reports, websites, and media platforms.</h1>
      </div>
    </div>
  </div>
</header>