<section data-header-theme="dark">
  <div class="wrapper">
    <div class="profilecard squish">
      <div class="type-large color-text-dark">
        <p class="color-white word-split">Meet Codrin &mdash;<br> Your trusted partner who</p>

        <div class="words-carousel">
          <p class="word-split">always replies.</p>
          <p class="word-split">talks dev in plain English.</p>
          <p class="word-split">treats creatives<br> like superheroes.</p>
          <p class="word-split">knows "good enough"<br> usually isn't.</p>
          <p class="word-split">ships work he's proud to <br>put his name on.</p>
          <p class="word-split">guards your budget like his cats’ dinner depends on it.</p>
          <p class="word-split">says "we don't need JS for that."</p>
        </div>
      </div>

      {% img "portrait-tall-optimized.jpg" %}
    </div>
  </div>
</section>