---
layout: base.njk
title: "Codrin Pavel — Build Better"
meta_title: "Codrin Pavel — Build Better"

pageclasses: "page-home"
---

{% include "home/hero.njk" %}
{% include "home/case-studies.njk" %}
{% include "home/capabilities.njk" %}
{% include "home/brands.njk" %}
{% include "home/words.njk" %} 
{% include "home/profilecard.njk" %}
{% include "home/work.njk" %}